
    body {
      background-image: url("images/chapel.jpg");
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;

    }

    img {
      width: 72vh;
      height: 72vh;
      object-fit: cover;
      margin-bottom: 5vh;
      transition: all 0.3s ease-out;
      transform: perspective(500px) translateZ(0);
    }

    img:hover {
      transform: perspective(500px) translateZ(6vh);
    }

    h1 {
      font-family: 'vinque';
      font-size: 7rem;
      font-weight: 100;
      margin-top: 1vh;
      margin-bottom: 0;
      color: yellow
    }

    h2 {
      font-family: 'fantasy';
      font-size: 3rem;
      font-weight: 100;
      margin: 0;
      margin-bottom: 1.5vh;
      color: yellow
    }

    p {
      font-size: 2.25rem;
      margin: 0;
      font-family: 'fantasy';
      color: black;
    }

    .characters {
      font-size: 3rem;
      color: black;
      margin: 0 0 1vh 0;
    }

    .title {
      font-size: 4rem;
      color: yellow;
      margin: 0;
      font-family: 'vinque';
    }

    @font-face {
      font-family: 'fantasy';
      src: local('FantaisieArtistique'),
        url('FantaisieArtistique.otf') format('opentype');
    }

    @font-face {
      font-family: 'exocet';
      src: local('exocet'),
        url('exocet.ttf') format('truetype');
    }


    @font-face {
      font-family: 'wiz';
      src: local('wizzta'),
        url('wizzta.ttf') format('truetype');
    }

    @font-face {
      font-family: 'vinque';
      src: local('vinque.rg-regular'),
        url(' vinque.rg-regular.otf') format('opentype');
    }

    a,
    a:link,
    a:focus,
    a:active {
      color: white ;
      text-decoration: none;
      cursor: pointr;
      margin: 0 1.25vw 0 0;

    }

    a:hover {
      color: orange;
      text-decoration: none;

    }
 